body {
  background: linear-gradient(0.35turn, #76cdf1, #ebf8e1, #f69d3c);
  font-family: "Roboto Slab", serif;
}

.container {
  background: linear-gradient(0.35turn, #6dbfe2, #ebf8e1, #f69d3c);
  display: block;
  margin: 30px auto;
  padding: 10px 20px;
  margin-top: 20px;
  max-width: 600px;
}

form {
  margin: 15px;
  width: 60%;
}

div .row {
  box-sizing: content-box;
  width: 100%;
  align-items: center;
}

button {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.btn-success {
  color: #fff;
  background-color: #76cdf1;
  border-color: #76cdf1;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.line {
  margin: 0 1rem;
  width: 4px;
  background-color: #000;
}

#loc_name {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

#description {
  font-size: 30px;
}

#date {
  text-align: center;
  font-size: 15px;
}

h3 {
  font-size: 60px;
}

.col {
  margin-right: 5%;
  margin-left: 15%;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.col-5 {
  padding: 30% auto;
}

.col-sm {
  padding-top: 10px;
  font-size: 30px;
  text-align: center;
}

p {
  font-size: 30px;
  text-align: center;
}

li {
  list-style: none;
  font-size: 15px;
  text-align: center;
}

#current_temp {
  font-size: 70px;
}

.hungry {
  font-size: 15px;
  width: 90%;
  display: flex;
  align-items: center;
  padding-left: 3%;
  text-decoration-line: none;
}

ul {
  margin: 0;
}