body {
  background: linear-gradient(0.35turn, #3f87a6, #ebf8e1, #f69d3c);
  font-family: "Roboto Slab", serif;
}

form {
  margin: 30px;
  width: 50%;
}

.line {
  margin: 0 1rem;
  width: 4px;
  background-color: #000;
}

#loc_name {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

#description {
  font-size: 30px;
}

.container {
  background: linear-gradient(0.35turn, #3f87a6, #ebf8e1, #f69d3c);
  display: block;
  margin: 30px auto;
  padding: 10px 20px;
  margin-top: 20px;
  max-width: 600px;
}

h1 {
  text-align: left;
  margin: 30px;
  font-size: 40px;
  font-weight: lighter;
}

h2 {
  text-align: center;
  font-size: 28px;
}

h3 {
  font-size: 60px;
}

.col {
  margin-right: 5%;
  text-align: center;
}
.col-5 {
  padding: 30% auto;
}

.col-sm {
  padding-top: 10px;
  font-size: 30px;
  text-align: center;
}

.row {
  box-sizing: content-box;
  width: 90%;
  display: flex;
  align-items: center;
  padding-left: 8%;
}

.sunny {
  box-sizing: content-box;
  width: 80%;
}

p {
  font-size: 30px;
  text-align: center;
}

.sunny-sub-icon {
  box-sizing: content-box;
  width: 50%;
}

li {
  list-style: none;
  font-size: 15px;
  text-align: center;
}

#current_temp {
  font-size: 70px;
}

.hungry {
  font-size: 15px;
  width: 90%;
  display: flex;
  align-items: center;
  padding-left: 3%;
  text-decoration-line: none;
}
