body {
  background: linear-gradient(0.35turn, #76cdf1, #ebf8e1, #f69d3c);
  font-family: "Roboto Slab", serif;
}

.container {
  background: linear-gradient(0.35turn, #6dbfe2, #ebf8e1, #f69d3c);
  display: block;
  margin: 30px auto;
  padding: 10px 10px;
  margin-top: 20px;
  max-width: 600px;
}

form {
  margin: 5px;
  width: 60%;
}

.row {
  margin-right: 5;
  margin-left: 5;
}

h1 {
  box-sizing: content-box;
  width: 90%;
  align-items: center;
  margin-right: 5%;
  margin-left: 5%;
}

div.search-engine{
  box-sizing: content-box;
  width: 96%;
  align-items: center;
  margin-right: 2%;
  margin-left: 2%;
}

.col-9 {
    flex: 0 0 auto;
    width: 100%;   
}

button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #fff(94, 93, 93);
  text-align: center;
  color: #919194dc;
  font-size: 20px;
}

.loc_input {
  width: 100%;
  border: 1px solid #76cdf1;
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
  margin: 0%;
  
}

.form-control {
  width: 85%;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  margin: 2%; 
  color: #76cdf1;
}

.btn-success {
  color: #fff;
  background-color: #6dbfe2;
  border-color: #76cdf1;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

h2 {
  font-size: 60px;
  margin:18;
}

#todays-weather {
  margin: 0 10%;
}

#climatic-element{
  margin:0 10%
}

h3 {
  margin:15;
}

.line {
  margin: 0 1rem;
  width: 4px;
  background-color: #000;
}

#loc_name {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
}

#description {
  font-size: 30px;
  text-align: center;
}

#today {
  text-align: center;
}

#date {
  text-align: center;
  font-size: 15px;
}

#weather-icon {
  margin-right: 2%;
  margin-left: 10%;
  text-align: center;
  font-size: 70px;
}

#current_temp {
  margin-right: 10%;
  margin-left: 2%;
  text-align: center;
  font-size: 70px;
}

.col-sm {
  padding-top: 5px;
  font-size: 25px;
  text-align: center;
}

.col-6 {
  padding: 0 5%;
  
}
p {
  font-size: 30px;
  text-align: center;
}

ul {
  margin: 0;
  padding-left: 0%;
}

li {
  list-style: none;
  font-size: 15px;
  
}

.hungry {
  font-size: 15px;
  width: 90%;
  display: flex;
  align-items: center;
  padding-left: 3%;
  text-decoration-line: none;
}


